.container{min-height:450px;background:rgba(0,0,0,0.8);font-family:'Georgia','Arial', sans-serif;}
	.page-title{font-size:4.8em;line-height:1.618;text-align:center;font-family:'Apple Chancery';}

.image-container-1{width:85%;height:340px;margin:auto;}
.image-container-2{width:220px;height:200px;padding:10px;position:relative;margin:auto;}
	.image-container-1 img, .image-container-2 img{width:100%;height:100%;}
}

.ab-01{}
.ab-01a h2,.ab-02a h2{font-size:4.2em;text-align:center;}
.ab-01a-para{width:85%;margin:auto;text-align:justify;}
.ab-01a-para p{font-size:1.8em;}

.ab-02{width:100%;margin:auto;}
.ab-02a{width:100%;margin:auto;}
.ab-02a .main-list{width:90%;display:block;margin:10px auto;position:relative;text-align:center;}
.ab-02a .main-list li{display:inline-block;}
.ab-02a-team{width:250px;height:250px;margin:auto;}
.ab-02a-team .hover{width:200px;height:100%; padding:20px;position:absolute;top:10px;text-align:center;display:none;background:rgba(0,0,0,0.7);}
.hover h3, .hover h5, .hover p{text-align: center;}

.hover h3{font-size:1.2em; font-weight:bolder;}
.hover h5{font-size:0.9em;font-weight:normal;}
.hover p{font-size:1.2em;word-wrap:break-word;}

.hover-wrap{width:100%;height:100%;}

@media only screen and (max-width:1439px)
{
	
}